/* =========***=========
Responsive CSS
=========***========= */

/* Min Width 1200px and Max Width 1399px */
@media (min-width: 1200px) and (max-width: 1399px) {
}

/* Min Width 992px and Max Width 1199px */
@media (min-width: 992px) and (max-width: 1199px) {
  .navigation-container ul li a {
    font-size: 20px;
  }
}

/* Min Width 768px and Max Width 991px */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Min Width 300px and Max Width 767px */
@media (min-width: 300px) and (max-width: 767px) {
  .hero-slide {
    background-position: center center;
    min-height: 70vh;
    max-height: 70vh;
    height: 100%;
  }

  .hero-slide1 {
    background: url(../images/hero-mobile-slider-img1.jpg);
  }

  .hero-slide2 {
    background: url(../images/hero-mobile-slider-img2.jpg);
  }

  .hero-slide3 {
    background: url(../images/hero-mobile-slider-img3.jpg);
  }

  .hero-slide-content {
    left: 20px;
    bottom: 50px;
  }

  .hero-slide-content h2 {
    font-size: 30px;
  }

  .stats-wrapper {
    padding: 60px 10%;
  }

  .stats-card {
    text-align: center;
    padding: 20px 0;
  }

  .stats-card h1 {
    font-size: 42px;
  }

  .stats-card h3 {
    padding-left: 0;
  }

  .work-process-wrapper,
  .video-wrapper {
    padding: 0 20px;
  }

  .work-card-odd,
  .work-card-even {
    padding: 20px;
  }

  .work-card-odd .work-card-img {
    padding-top: 50px;
    text-align: center;
  }

  .work-card-img img {
    max-width: 50%;
  }

  .work-card-even .work-card-content {
    padding-top: 50px;
  }

  .work-card-even .work-card-img {
    text-align: center;
  }

  .video-wrapper {
    padding-top: 60px;
  }

  .video-top h2 {
    font-size: 30px;
  }

  .video iframe {
    min-height: 200px;
    height: 100%;
  }

  .video-bottom-content ul li {
    font-size: 24px;
    padding: 10px 0;
    word-wrap: break-word;
  }

  .footer-container {
    padding: 30px 20px;
  }

  .footer-title h2 {
    font-size: 36px;
  }

  .footer-contact ul li {
    font-size: 20px;
  }

  .price-list-title h2,
  .additional-services-title h2,
  .reference-card-title h2 {
    font-size: 30px;
  }

  .price-list-wrapper,
  .additional-services-wrapper {
    padding: 100px 10px 0;
  }

  .price-pacakge-name h4,
  .price-list-card h4,
  .price-list-card ul li,
  .price-list-bottom h5,
  .add-services-card h5,
  .add-services-bottom h5 {
    font-size: 16px;
    margin-left: 0 !important;
  }

  .reference-wrapper {
    padding: 0 20px;
  }
}
